@import "./../node_modules/ol/ol.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

	.mapRef {
		height: calc(100vh - 250px);
		max-height: 60vh;
		/* height: calc(100vh - 76px); */
		/* @apply  absolute left-0 right-0 top-16 */
	}

	@media screen and (max-width: 767px){
		.mapRef {
			height: calc(100vh - 72px);
			@apply  absolute left-0 right-0 top-[72px]
		}
	}
	.ol-popup:after,
	.ol-popup:before {
		content: " ";
		@apply absolute w-0 h-0 top-full pointer-events-none border-solid border-transparent
	}

	.ol-popup:after {
		border-width: 10px;
		margin-left: -0.7rem;
		@apply border-t-white left-12;
	}

	.ol-popup:before {
		border-width: 11px;
		/* @apply border-t-gray-400 dark:border-t-current left-12 -ml-3; */
	}

    .ol-popup-closer {
		@apply absolute top-1 right-2 no-underline;
    }

    .ol-popup-closer:after {
        content: "✖";
        color: theme('colors.gray.400');
    }
}